.accordion {
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07),
    0 1px 10px 0 rgba(0, 0, 0, 0.06);
}

.accordionHeader {
  display: flex;
  gap: 5px;
  align-items: flex-start;
}

.accordionHeader > h3 {
  padding-top: 5px;
  text-transform: uppercase;
}

.tag {
  padding: 1px 5px;
  background-color: red;
  font-size: 14px;
}

.accordionInfo {
  display: flex;
  gap: 5px;
}

.accordionInfo > span {
  font-size: 13px;
}

.accordionInfo > span:first-child {
  color: gray;
}
.accordionInfo > span:nth-child(2) {
  color: blue;
  border-left: 2px solid gray;
  padding-left: 5px;
}
.accordionInfo > span:nth-child(3) {
  color: violet;
  border-left: 2px solid gray;
  padding-left: 5px;
}

.accordionSummary {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
